<h1>Listing sandwiches</h1>

<table class="table-condensed table-hover">
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sandwiches.each do |sandwich| %>
  <tr>
    <td><%= link_to '', sandwich, class: "icon-search" %></td>
    <td><%= link_to '', edit_sandwich_path(sandwich), class: "icon-pencil" %></td>
    <td><%= link_to '', sandwich, class: "icon-trash", method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sandwich', new_sandwich_path %>
