<h1>Welcome <%= @user.first_name %></h1>
<br/>
This web application will help you create a sandwich order and deliver it by email to someone to help you fulfill it.<br/>
<br/>
Ready to get started?<br/>
<br/>
Click <%= link_to 'New Order', new_order_path %> !
